<?xml version="1.0"?>
<!--
Author: Pradheep Padmanabhan
Contributor: Adarsh Karan K P
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mpo">

  <xacro:macro name="cabinet" params="name parent *origin">

    <joint name="${name}_joint" type="fixed">
      <xacro:insert_block name="origin"/>
      <dynamics damping="1" friction="1"/>
      <parent link="${parent}"/>
      <child link="${name}_link"/>
    </joint>

    <xacro:if value="${ur_dc == True}">
      <xacro:property name="cabinet_mesh" value="cabinet_dc" />
    </xacro:if>

    <xacro:if value="${ur_dc == False}">
      <xacro:property name="cabinet_mesh" value="cabinet_ac" />
    </xacro:if>

    <link name="${name}_link">
      <inertial>
        <mass value="2"/>
        <origin rpy="0 0 -1.5708" xyz="0 0 0"/>
        <inertia ixx="0.457072" ixy="0.0" ixz="0.0" iyy="0.23616" iyz="0.0" izz="0.686"/>
      </inertial>
      <visual>
        <origin rpy="0 0 -1.5708" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://mp_components/meshes/${cabinet_mesh}.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </visual>
      <collision>
        <origin rpy="0 0 -1.5708" xyz="0 0 0"/>
        <geometry>
          <mesh filename="package://mp_components/meshes/${cabinet_mesh}.dae" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
    </link>

  </xacro:macro>

</robot>
